body,
html {
  width: 100vw;
  height: 100vh;
}

body {
  
  margin: 0;
  background-image: url('../images/fb.jpg')
}
/*canvas {
  border: 3px dotted #45ffdd;
}*/
@-webkit-keyframes blink { 50% { border-color: #45ffdd;   }  }
canvas{ 
	border: 4px solid;
	-webkit-animation: blink .5s step-end infinite alternate; 
}

.game-intro{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
.game-intro img {
  margin-top:10px;
  width: 350px;
  height: 80px;
}
.buttons{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
#start-button {
  margin-top: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: #45ffdd;
  text-transform: uppercase;
  background-color: Transparent;
  border:1px solid #45ffdd;
  padding: 10px;
}
#restart-button{
  margin-top: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: #45ffdd;
  text-transform: uppercase;
  background-color: Transparent;
  border:1px solid #45ffdd;
  padding: 10px;
  width: 184px;
}
.game-board {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 70px;
}
.game-board img{
  width:400px;

}